header{
    background: #008100;
}

.caixa{
    position: relative;
    width: 400px;
    margin: 0 auto;
}

h1{
    font-size: 50px;
    padding: 20px;
}

#logo{
    width: 35px;
    margin: 2px 0;
    right: 0px;
}

nav{
    position: absolute;
    top: 30px;
    right: 0px;
}

nav li{
    display: inline-block;
    margin: 0 0 0 15px;
}

nav a{
    font-size: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

main{
    width: 940px;
    margin: 0 auto;
}

h2{
    text-align: center;
    margin: 50px;
    font-size: 40px;
    font-weight: bold;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}
